:root {
  --color-black: #303030;
  --color-primary: #d40605;

  --form-field-height: 3.5rem;
  --form-field-padding-inline: 1rem;
  --form-field-border-width: 1px;
  --form-field-border-color: var(--color-black);
  --form-field-bg-color: var(--color-white);
  --form-field-outline-offset: 2px;
  --form-field-border-radius: var(--border-radius-small);
  --form-select-icon-size: 0.5rem;
  --form-chevron-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z'/%3E%3C/svg%3E");
  --form-error-icon: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 0.875C8.99747 0.875 7.0399 1.46882 5.37486 2.58137C3.70981 3.69392 2.41206 5.27523 1.64572 7.12533C0.879387 8.97543 0.678878 11.0112 1.06955 12.9753C1.46023 14.9393 2.42454 16.7435 3.84055 18.1595C5.25656 19.5755 7.06066 20.5398 9.02471 20.9305C10.9888 21.3211 13.0246 21.1206 14.8747 20.3543C16.7248 19.5879 18.3061 18.2902 19.4186 16.6251C20.5312 14.9601 21.125 13.0025 21.125 11C21.122 8.3156 20.0543 5.74199 18.1562 3.84383C16.258 1.94567 13.6844 0.877978 11 0.875ZM11 18.875C9.44248 18.875 7.91993 18.4131 6.62489 17.5478C5.32985 16.6825 4.32049 15.4526 3.72445 14.0136C3.12841 12.5747 2.97246 10.9913 3.27632 9.46366C3.58018 7.93606 4.3302 6.53287 5.43154 5.43153C6.53288 4.3302 7.93607 3.58017 9.46367 3.27632C10.9913 2.97246 12.5747 3.12841 14.0136 3.72445C15.4526 4.32049 16.6825 5.32985 17.5478 6.62488C18.4131 7.91992 18.875 9.44247 18.875 11C18.8728 13.0879 18.0424 15.0896 16.566 16.566C15.0896 18.0424 13.0879 18.8728 11 18.875ZM9.875 11.375V6.5C9.875 6.20163 9.99353 5.91548 10.2045 5.7045C10.4155 5.49353 10.7016 5.375 11 5.375C11.2984 5.375 11.5845 5.49353 11.7955 5.7045C12.0065 5.91548 12.125 6.20163 12.125 6.5V11.375C12.125 11.6734 12.0065 11.9595 11.7955 12.1705C11.5845 12.3815 11.2984 12.5 11 12.5C10.7016 12.5 10.4155 12.3815 10.2045 12.1705C9.99353 11.9595 9.875 11.6734 9.875 11.375ZM12.5 15.125C12.5 15.4217 12.412 15.7117 12.2472 15.9584C12.0824 16.205 11.8481 16.3973 11.574 16.5108C11.2999 16.6244 10.9983 16.6541 10.7074 16.5962C10.4164 16.5383 10.1491 16.3954 9.93934 16.1857C9.72957 15.9759 9.5867 15.7086 9.52883 15.4176C9.47095 15.1267 9.50065 14.8251 9.61419 14.551C9.72772 14.2769 9.91998 14.0426 10.1666 13.8778C10.4133 13.713 10.7033 13.625 11 13.625C11.3978 13.625 11.7794 13.783 12.0607 14.0643C12.342 14.3456 12.5 14.7272 12.5 15.125Z' fill='%23D60F3C'/%3E%3C/svg%3E");

  --container-column-width: 4.375rem;
  --container-column-gap: 1.25rem;
  --container-row-gap: 2.25rem;
  --container-offset-min-width: 0;
  --container-max-width: calc(
    12 * (var(--container-column-width) + var(--container-column-gap))
  );

  @media all and (min-width: 1200px) {
    --container-column-gap: 2.75rem;
    --container-row-gap: 0;
    --container-offset-min-width: 1rem;
  }
}

* {
  &,
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

body {
  color: var(--color-black);
  font-family: "Open Sans", sans-serif;
}

main {
  padding-block-end: 3rem;
}

/* button,
input,
select,
textarea,
summary,
a {
  outline-color: currentColor;
  outline-offset: 4px;

  &:focus-visible {
    outline-style: solid;
    outline-width: 3px;
  }
} */

button {
  background-color: var(--color-black);
  /* outline-color: var(--color-black); */
  padding: 0.75rem 1.5rem;
  color: #fff;
}

ul,
ol {
  &[role="list"] {
    list-style: none;
  }
}

ul {
  &[role="status"],
  &[role="alert"] {
    list-style-type: bullet;
  }
}

ol {
  &[role="status"],
  &[role="alert"] {
    list-style-type: decimal;
  }
}

p {
  line-height: 1.5;

  + & {
    margin-block-start: 1rem;
  }
}

a {
  color: var(--color-primary);

  &:not(:hover, :focus) {
    color: inherit;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-end: 1rem;
  font-weight: 700;
  line-height: 1.3;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 1.75rem;
}

h3,
.h3 {
  font-size: 1.25rem;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
  white-space: nowrap !important;

  &.focusable:focus {
    position: static !important;
    overflow: visible;
    clip: auto;
    width: auto;
    height: auto;
  }
}

.app-container {
  display: grid;
  grid-template-columns:
    [start] minmax(var(--container-offset-min-width), 1fr)
    [container-start] repeat(12, minmax(0, var(--container-column-width)))
    [container-end]
    minmax(var(--container-offset-min-width), 1fr) [end];
  column-gap: var(--container-column-gap);
  row-gap: var(--container-row-gap);
}

.app-main-nav {
  padding-block: 1.25rem;
  border-block-end: 1px solid #e4e4e4;
  background-color: #fff;

  .app-main-nav__content {
    display: flex;
    grid-column: container;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
  }
}

.app-logo {
  display: block;
  width: 3.5rem;
  height: 2.5rem;

  > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.app-main-menu {
  > ul {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

    a {
      &:not(:hover, :focus) {
        text-decoration: none;
      }
    }
  }
}

.app-hero {
  padding-block: 2rem;

  .app-hero__content {
    grid-column: container;
  }
}

.app-section {
  + & {
    margin-block-start: 4rem;
  }

  .app-section__title,
  .app-section__image {
    margin-block-end: 1.5rem;
  }

  .app-section__content,
  .app-section__actions {
    grid-column: container;
  }

  .app-section__content {
    + .app-section__actions {
      margin-block-start: 1.5rem;
    }
  }

  .app-section__description {
    margin-block-end: 1.5rem;
  }

  .app-section__triggers {
    margin-block-end: 1.5rem;
    display: flex;
    gap: 1rem;
  }

  .app-section__live-region {
    &:not(:empty) {
      background-color: #efefef;
      padding: 1rem;
      margin-block-end: 1.5rem;
    }
  }
}

.app-usps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
  gap: 2.5rem;

  .app-usps__item {
    > img {
      margin-block-end: 1rem;
      width: 3.5rem;
      height: 3.5rem;
    }

    > a {
      display: inline-block;
      margin-block-start: 1rem;
    }
  }
}

.app-form {
  max-width: 80ch;

  label,
  legend {
    display: block;
    margin-block-end: 1rem;
    font-weight: 600;

    &:has(+ *[required]) {
      &::after {
        color: var(--color-primary);
        content: "*" / " ";
      }
    }
  }

  input:not([type="hidden"], [type="submit"], [type="file"]),
  textarea,
  select {
    --outline-offset: var(--form-field-outline-offset);

    border: var(--form-field-border-width) solid var(--form-field-border-color);
    background-color: var(--form-field-bg-color);
    border-radius: 0;
    font-size: 1rem;

    &[aria-invalid="true"] {
      border-color: var(--color-primary);
    }

    ~ .error {
      margin-block-start: 0.375rem;
      color: var(--color-primary);
      font-size: 0.875rem;
      font-weight: 400;
    }
  }

  input:not(
      [type="hidden"],
      [type="submit"],
      [type="checkbox"],
      [type="radio"],
      [type="file"]
    ),
  textarea,
  select {
    width: 100%;
    min-height: var(--form-field-height);
    padding-inline: var(--form-field-padding-inline);

    &[aria-invalid="true"] {
      background-image: var(--form-error-icon);
      background-size: 1.25rem;
      background-repeat: no-repeat;
    }
  }

  input:not(
      [type="hidden"],
      [type="submit"],
      [type="checkbox"],
      [type="radio"],
      [type="file"]
    ),
  textarea {
    &[aria-invalid="true"] {
      /* only partial browser support for background-position-x and side-relative values:
      https://developer.mozilla.org/en-US/docs/Web/CSS/background-position-x */
      background-position-x: calc(100% - var(--form-field-padding-inline));
    }
  }

  input:not(
      [type="hidden"],
      [type="submit"],
      [type="checkbox"],
      [type="radio"],
      [type="file"]
    ) {
    &[aria-invalid="true"] {
      background-position-y: center;
    }
  }

  textarea {
    min-height: calc(3 * var(--form-field-height));
    padding-block-start: 1rem;
    resize: vertical;

    &[aria-invalid="true"] {
      background-position-y: 1rem;
    }
  }

  select {
    appearance: none;
    background-image: var(--form-chevron-icon);
    background-position: right var(--form-field-padding-inline) center;
    background-size: var(--form-select-icon-size);
    background-repeat: no-repeat;

    &[aria-invalid="true"] {
      background-image: var(--form-chevron-icon), var(--form-error-icon) !important;
      background-position: right var(--form-field-padding-inline) center,
        right
          calc(
            var(--form-field-padding-inline) + var(--form-select-icon-size) +
              0.75rem
          )
          center;
      background-size: var(--form-select-icon-size), 1.25rem !important;
    }
  }

  .instruction {
    width: 100%;
    font-style: italic;
    font-size: 0.875rem;

    &,
    + * {
      margin-block-start: 0.375rem;
    }
  }

  .app-form__item,
  .app-form__group {
    + .app-form__item,
    + .app-form__group {
      margin-block-start: 1.5rem;
    }
  }

  .app-form__group {
    label {
      font-size: 0.875rem;
    }
  }

  .app-form__actions {
    margin-block-start: 2rem;
  }
}

.app-teaser-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
  gap: 2.5rem;
}

.app-teaser {
  border: 1px solid #efefef;
  padding: 1.5rem;
}

.app-teaser__content {
  > a {
    > img {
      aspect-ratio: 16 / 9;
      width: 100%;
    }
  }
}

.app-teaser__skeleton {
  &[aria-hidden="true"] {
    display: none;
  }

  > div {
    border-radius: 0.25rem;
    background: linear-gradient(
      -60deg,
      rgba(238, 238, 238, 1) 0,
      rgba(238, 238, 238, 1) 120px,
      rgba(250, 250, 250, 1) 150px,
      rgba(238, 238, 238, 1) 180px,
      rgba(238, 238, 238, 1) 100%
    );
    animation: skeleton 2s ease infinite;

    + div {
      margin-block-start: 1rem;
    }

    &:first-child {
      height: 10rem;
    }

    &:nth-child(2) {
      height: 3rem;
      width: 60%;
    }

    &:nth-child(3) {
      height: 2rem;
      width: 80%;
    }
  }
}

.app-comma-list {
  &,
  > li {
    display: inline;
  }

  > li:not(:last-child) {
    &::after {
      content: ", ";
    }
  }
}

.app-status-message {
  background-color: var(--color-primary);
  padding: 1rem;
  color: #fff;
  margin-block-end: 1.5rem;
  max-width: 80ch;

  a {
    &:is(:hover, :focus) {
      color: inherit;
    }
  }
}

@keyframes skeleton {
  from {
    background-position: 0px;
  }
  to {
    background-position: 23rem;
  }
}

/* Fix to achieve SR hiding effect, since inconsistent support in SR/Browser combinations*/
[aria-busy="true"] {
  display: none;
}

dialog {
  p {
    margin-block-end: 1.5rem;
  }
}
